{% load static %}
{% load persian_filters %}
{% load persian_extras %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>صفحه شخصی</title>
    <link rel="stylesheet" href="{% static 'profiles/css/style.css' %}" />
</head>
<body>
    <div class="container">
        <section class="prof_header">
            <h1>صفحه شخصی کاربر</h1>
            <div class="prof_pic_and_username">
                <span class="username">{{ user.username }}</span>
                {% if user.userprofile.profile_picture %}
                    <img class="prof_pic" src="{{ user.userprofile.profile_picture.url }}" alt="عکس پروفایل" width="120" height="120">
                {% else %}
                    <img class="prof_pic_default" src="{% static 'images/default.svg' %}" alt="عکس پیش‌فرض" width="120">
                {% endif %}
            </div>
        </section>
        <div class="prof_header_underline"></div>

        <section class="date_joined">
            <label for="#">تاریخ عضویت: </label>
            <p>{{ user.date_joined|to_jalali|persian_numbers }}</p>
        </section>

        <section class="phone_number_box">
            <label for="#">تلفن همراه:</label>
            {% if user.userprofile.phone_number %}
                <p class="phone_number">{{ user.userprofile.phone_number|persian_numbers }}</p>
            {% else %}
                <p>هنوز شماره تلفن همراه خود را وارد نکرده‌اید.</p>
            {% endif %}
        </section>

        <section class="address_box">
            <label for="#">آدرس کاربر</label>
            {% if user.userprofile.address %}
                <p class="address">{{ user.userprofile.address }}</p>
            {% else %}
                <p>هنوز آدرس خود را وارد نکرده‌ابد.</p>
            {% endif %}
        </section>

        <section class="shopping_cart">
            <h2>سبد خرید من</h2>
            {% if cart_items %}
                <ul class="cart-list">
                    {% for item in cart_items %}
                        <li class="cart-item">
                            <strong>{{ item.product.name }}</strong>
                            تعداد: {{ item.quantity }}<br>
                            قیمت: {{ item.product.price }} تومان
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>سبد خرید شما خالی است.</p>
            {% endif %}
        </section>

        <button class="edit_info" type="button" onclick="window.location.href='{% url 'editprofile' %}'">
            <svg class="edit_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
            ویرایش اطلاعات
        </button>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="signout">
                <svg class="signout_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-account-arrow-right-outline" width="40" height="40" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M19,21V19H15V17H19V15L22,18L19,21M13,18C13,18.71 13.15,19.39 13.42,20H2V17C2,14.79 5.58,13 10,13C11,13 11.96,13.09 12.85,13.26C13.68,13.42 14.44,13.64 15.11,13.92C13.83,14.83 13,16.32 13,18M4,17V18H11C11,16.96 11.23,15.97 11.64,15.08L10,15C6.69,15 4,15.9 4,17M10,4A4,4 0 0,1 14,8A4,4 0 0,1 10,12A4,4 0 0,1 6,8A4,4 0 0,1 10,4M10,6A2,2 0 0,0 8,8A2,2 0 0,0 10,10A2,2 0 0,0 12,8A2,2 0 0,0 10,6Z"/>
                </svg>
                خروج از حساب کاربری
            </button>
        </form>
        
    </div>
</body>
</html>
