{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ویرایش پروفایل</title>
    <link rel="stylesheet" href="{% static 'profiles/css/style.css' %}" />
</head>
<body>
    <section class="container">
        <div class="prof_header">
            <h1>صفحه شخصی کاربر</h1>
            <div class="prof_pic_and_username">
                <span class="username">{{ user.username }}</span>
                {% if user.userprofile.profile_picture %}
                    <img class="prof_pic" src="{{ user.userprofile.profile_picture.url }}" alt="عکس پروفایل" width="120" height="120">
                {% else %}
                    <img class="prof_pic_default" src="{% static 'images/default.svg' %}" alt="عکس پیش‌فرض" width="120">
                {% endif %}
            </div>
        </div>
        {% if user.userprofile.phone_number %}
            <p>{{ user.userprofile.phone_number }}</p>
        {% else %}
            <p>هنوز شماره موبایل خود را وارد نکرده‌اید.</p>
        {% endif %}

        {% if user.userprofile.address %}
            <p>{{ user.userprofile.address }}</p>
        {% else %}
            <p>هنوز آدرس خود را وارد نکرده‌ابد.</p>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>ویرایش پروفایل</h2>
            {{ form.as_p }}
            <button type="submit">ذخیره تغییرات</button>
        </form>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="user-name">خروج</button>
        </form>
    </section>
</body>
</html>
