{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ویرایش اطلاعات</title>
    <link rel="stylesheet" href="{% static 'edit_profile/css/style.css' %}" />
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>ویرایش پروفایل</h2>
        {{ form.as_p }}
        <button type="submit">ذخیره تغییرات</button>
    </form>
</body>
</html>