.page-login {
    background: url('../images/bg1.jpg') center center / cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px 0;
    border-radius: 10px;
    width: 400px;
}

.form-field {
    margin-bottom: 20px;
    width: 100%;
}

.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
    text-shadow: 0px 0px 10px rgb(40, 40, 40);
}

.login-form-input {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    width: 100%;
    padding: 8px 12px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    direction: ltr;
    text-align: right;
}

.login-form-input:hover {
    border: 1px solid rgb(182, 182, 255);
}

.login-form-input:focus {
    border-color: #007bff;
    outline: none;
}

.form-field .errorlist {
    color: #cc0000;
    margin-top: 4px;
    font-size: 14px;
}

.login-link {
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 30%;
    /* background-color: white;
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 1); */
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.errorlist {
    list-style-type: none; 
    padding-left: 0;
    margin: 0;
}

.errorlist li::marker {
    content: none;
}

@media only screen and (max-width: 576px) {
    .page-login {
        background: url('../images/phone-bg.jpg') center center / cover no-repeat !important;
    }

    .form-box {
        margin-top: -100px;
        background: none;
        box-shadow: none;
        width: 100%;
    }

    .login-link {
        background-color: white;
        box-shadow: 0 0 10px 8px rgba(255, 255, 255, 1);
    }

    .login-p {
        background-color: white;
        box-shadow: 0 0 10px 8px rgba(255, 255, 255, 1);
        border-radius: 30%;
    }
}
