@font-face {
    font-family: 'vazir';
    src: url('/static/fonts/Vazir.ttf') format('truetype');
    src: url('/static/fonts/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: vazir;
    font-size: 16px;
    transition: all 200ms;
    color: black;
}

h1 {
    font-size: 2rem;
}

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.prof_header {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prof_pic_and_username {
    display: flex;
    align-items: center;
    gap: 20px;
}

.prof_pic_default {
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
    background-color: rgb(180, 234, 255);
    border-radius: 50%;
}

.prof_pic {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
    background-color: rgb(180, 234, 255);
    object-fit: cover;
    border-radius: 50%;
}

.username {
    font-size: 3rem;
}

@media only screen and (max-width: 800px) {
    .prof_pic_default {
        width: 80px;
        height: 80px;
    }

    .prof_pic {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .username {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    * {
        font-size: 14px;
    }

    .prof_header {
        padding: 15px 20px;
    }

    .prof_pic_and_username {
        gap: 10px;
    }

    .prof_header_underline {
        margin-top: -8px;
    }

    .prof_pic_default {
        padding: 6px;
        width: 48px;
        height: 48px;
    }

    .prof_pic {
        width: 48px;
        height: 48px;
    }

    h1 {
        font-size: 1.3rem;
        margin-top: -5px;
    }

    label {
        font-size: 1.1rem;
    }

    .username {
        font-size: 1.3rem;
    }
}

.prof_header_underline {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(114, 113, 196);
    box-shadow: 0 0 5px rgb(101, 99, 190);
}

label {
    font-weight: bold;
    display: block;
}

.phone_number_box, .address_box, .date_joined {
    display: inline;
    width: 100%;
    padding: 10px 20px;
}

.phone_number_box, .date_joined {
    margin-top: 0px;
    display: flex;
    gap: 5px;
}

.phone_number_box, .address_box {
    margin-top: -18px;
}

.address {
    margin-top: 5px;
    text-align: justify;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    padding: 5px 10px;
}





form {
    width: 100%;
    border-radius: 8px;
    padding-top: 10px;
}

button {
    font-size: 16px;
    background-color: #03a7ff;
    box-shadow: 0px 0px 10px rgb(114, 47, 128);
    border: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 200ms;
}

button:hover {
    background-color: rgb(0, 143, 214);
    box-shadow: 0px 0px 20px rgb(187, 92, 206);
}

button:active {
    transform: scale(0.95);
    transition: all 100ms;
}

.shop_icon {
    width: 26px;
}

.shopping_cart_h2 {
    font-size: 16px;
    display: flex;
    gap: 5px;
}

.shopping_cart {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
    width: 100%;
    padding: 10px 20px;
}

.cart_products {
    border: 1px solid rgb(200, 200, 200);
    padding: 15px 15px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 16px;
}

.product_card {
    min-width: 250px;
    width: 250px;
    height: 280px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(97, 95, 225, 0.5);
    padding: 5px;
    padding-bottom: 10px;
}

.product_details {
    height: 88%;
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    transition: all 200ms;
}

.cart_buttons {
    display: flex;
    justify-content: space-between;
}

.cart_button {
    font-size: 14px;
    width: 100%;
    margin: 0;
}

.product_card:hover {
    box-shadow: 0 0 25px rgba(97, 95, 255, 1);
    transform: scale(1.08);
    cursor: pointer;
}

.product_image, .pp, .product_view-and-rate {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product_image_div {
    height: 45%;
    margin: 0 auto;
    padding: 0;
}

.product_info {
    display: flex;
    flex-direction: column;
    height: 55%;
}

.product_image {
    height: 100%;
    width: auto;
}

.pp {
    height: 25%;
    justify-content: flex-start;
}

.product_quantity {
    margin-top: -5px;
}

.rate {
    direction: ltr;
    font-size: 12px;
}

.fa-star,
.fa-star-half-stroke {
    color: gold;
    font-size: 12px;
}

.pay_box {
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    padding: 5px 12px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pay_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay_button button {
    margin-top: 10px;
}

@media only screen and (max-width: 576px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .products {
        flex-direction: column;
    }

    .products a {
        width: 100%;
    }

    .product_card {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .product_details {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: row;
    }

    .product_image {
        margin: 0 auto;
    }

    .product_image_div {
        width: 40%;
        height: 100%;
    }

    .pp {
        height: 20%;
    }

    .product_quantity {
        margin-top: 0;
    }

    .product_info {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 60%;
        height: auto;
        margin-top: 16px;
    }

}

.edit_info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.edit_icon {
    width: 26px;
    height: 26px;
}

.signout {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.signout_icon {
    width: 30px;
    height: 30px;
}