{% load utils %}
{% load static %}
{% load persian_filters %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تحلیل پوست شما</title>
    <link rel="stylesheet" href="{% static 'quiz/style.css' %}?v=7">
</head>
<body>
    <div class="container">
        <h2>👩‍⚕️ پرسشنامه تحلیل پوست</h2>
        <form method="post">
            {% csrf_token %}
            {% for question in questions %}
                <div class="question" id="qid_{{ question.id }}">
                    <p class="q-text">{{ question.order|persian_numbers }}. {{ question.text }}</p>

                    {% with key="question_"|addstr:question.id %}
                        {% if question.type == "single" %}
                            {% for choice in question.choices.all %}
                                <label>
                                    <input id="rating_input_{{ question.id }}" type="radio" name="question_{{ question.id }}" value="{{ choice.id }}"
                                        {% if initial_answers|get_item:key == choice.id %}checked{% endif %}>
                                    {{ choice.text }}
                                </label>
                            {% endfor %}

                        {% elif question.type == "range" %}
                            <div class="range-question">
                                <span id="span_output_{{ question.id }}">
                                    <output name="rating_output" id="rating_output_{{ question.id }}">
                                        {{ initial_answers|range_value:key|default:5|persian_numbers }}
                                    </output> از {{ 10|persian_numbers }}
                                </span>
                                <input type="range" min="0" max="10"
                                value="{{ initial_answers|range_value:key }}"
                                id="rating_input_{{ question.id }}" oninput="updateRatingOutput({{ question.id }})" name="question_{{ question.id }}">
                                <div>
                                    <input id="know_{{ question.id }}" type="checkbox" name="unknown_{{ question.id }}" onchange="rangeDisable({{ question.id }})"
                                    {% if initial_answers|range_checked:key %}checked{% endif %}
                                    >
                                    <label for="know_{{ question.id }}" class="know-checkbox">نمی‌دانم</label>
                                </div>
                                </div>

                        {% elif question.type == "multiple" %}
                            {% for choice in question.choices.all %}
                                <label>
                                    <input type="checkbox" name="question_{{ question.id }}" value="{{ choice.id }}"
                                        {% if initial_answers|get_item:key and choice.id|stringformat:"s" in initial_answers|get_item:key|stringformat:"s" %}checked{% endif %}>
                                    {{ choice.text }}
                                </label>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% endfor %}

            <button type="submit">ثبت پاسخ‌ها</button>

        </form>
        <form method="post" action="{% url 'skip_quiz' %}">
            {% csrf_token %}
            <input type="hidden" name="from_profile" value="{{ from_profile }}">
            <button class="btn" type="submit">بعداً انجام می‌دهم</button>
        </form>

        <script src="{% static 'quiz/index.js' %}" charset="utf-8"></script>
    </div>
</body>
</html>
