<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <title>فعال‌سازی ناموفق</title>
    <style>
        @font-face {
        font-family: 'vazir';
        src: url('/static/fonts/Vazir.ttf') format('truetype');
        src: url('/static/fonts/Vazir.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    body {
        display: flex;
        flex-direction: column;
        font-family: vazir;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    </style>
</head>
<body>
    <h2>لینک فعال‌سازی نامعتبر یا منقضی شده است.</h2>
    <p>لطفاً دوباره ثبت‌نام کنید یا با پشتیبانی تماس بگیرید.</p>
    <a href="/accounts/register/">ثبت‌نام مجدد</a>
</body>
</html>
