<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <title>تایید ثبت نام</title>
    <style>
        @font-face {
        font-family: 'vazir';
        src: url('/static/fonts/Vazir.ttf') format('truetype');
        src: url('/static/fonts/Vazir.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    body {
        display: flex;
        flex-direction: column;
        font-family: vazir;
    }
    </style>
</head>
<body>
    <h2>ثبت‌نام با موفقیت انجام شد!</h2>
    <p>ایمیل فعال‌سازی برای شما ارسال شد. لطفاً ایمیل خود را بررسی کنید و روی لینک فعال‌سازی کلیک کنید.</p>
</body>
</html>
